.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#c2d6d6;
    text-align: center;
}
body{
    background-color:#f0f5f5;
    padding:1%;
}
.header{
    text-align: center;
    font-family: 'Taviraj', serif;
}
